nav {
  color: #f7f7f7;
  background: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 78%;
  min-width: 800px;
  border-bottom-style: solid;
  border-color: #f7f7f7;
  font-size: 16pt;
  padding: 10px;
}
#nav-links a {
  background: #333333;
  border-bottom-style: solid;
  border-color: #333333;
  color: #f7f7f7;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

#nav-links a:hover {
  border-color: #87de87;
}

#nav-links a.focus {
  border-color: #87de87;
}
#contact-links a {
  color: #f7f7f7;
}
body {
  background: #333333
}
main {
  padding: 20px;
  margin: 2% auto;
  border-radius: 10px;
  max-width: 60%;
  min-width: 650px;
  background: #f7f7f7;
  color: #333333;
  line-height: 1.8;
  font-family: 'Lora', serif;
  font-size: 14pt;
}
