<!DOCTYPE html>
<html dir="ltr" lang="${lang}">
<head>
  <meta name="keywords" content="${keywords}" />
  <meta name="description" content="${description}" />
  <meta name="author" content="${author}" />
  <title>Catalog - ${sitetitle}</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e830867d9d.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="menuwrap">
    <table id="menu" width="100%" border="0">
    <tr>
      <td id="logo" align="left" width="250px"><img src="assets/logo.svg" height="70px" width="246px"/></td>
      <td id="nav-links" align="left" height="50px">
        <a href="index.html">Home</a> 
        <a href="music.html" class="focus">Catalog</a> 
        <a href="blog.html">Blog</a>
      </td>
      <td id="contact-links" align="right">
        <a href="mailto:${sitemail}" title="Mail me"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/ahillcomposer" title="Facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.youtube.com/user/AstroEngiSci" title = "YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://www.tiktok.com/@ahillcomposer" title="TikTok"><i class="fab fa-tiktok"></i></a>
      </td>
    </tr>
    </table>
  </nav>
  <main>
    <h1>Catalog</h1>
    <table style="border-bottom:2px solid #333333">
      <tr>
        <td width=200px style="vertical-align:top">
          <a href="#piano" class="button">Solo Piano</a>
        </td>
        <td>
          <p style="margin-block-start:0">All of my music is released under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International</a>.
          This means you may use it for any purpose,
          and change it however you like,
          as long as you accompany your use with a statement giving me credit for the music,
          linking the above license,
          and indicating whether any changes were made.</p>
          <p>For example, if you used Worlds I: Shgalan in a project, you might include the statement:</p>
          <blockquote>
            "Worlds I: Shgalan" by Andrew Hill (https://andrewkhill.com)<br>
            License: https://creativecommons.org/licenses/by/4.0/
          </blockquote>
          <p>If you reorchestrated Worlds I: Shgalan, remixed it, or made other alterations, you might include the statement:</p>
          <blockquote>
            Based on "Worlds I: Shgalan" by Andrew Hill (https://andrewkhill.com)<br>
            License: https://creativecommons.org/licenses/by/4.0/
          </blockquote>
          <p>These are my preferred notices; you can, however, use any format you like, as long as you include an attribution,
          link the license, and indicate whether something was changed.</p>
        </td>
      </tr>
    </table>
    <table>
