<!DOCTYPE html>
<html dir="ltr" lang="${lang}">
<head>
  <meta name="keywords" content="${keywords}" />
  <meta name="description" content="${description}" />
  <meta name="author" content="${author}" />
  <title>$Home - ${sitetitle}</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e830867d9d.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="menuwrap">
    <table id="menu" width="100%" border="0">
    <tr>
      <td id="logo" align="left" width="250px"><img src="assets/logo.svg" height="70px" width="246px"/></td>
      <td id="nav-links" align="left">
        <a href="index.html" class="focus">Home</a> 
        <a href="music.html">Catalog</a> 
        <a href="blog.html">Blog</a>
      </td>
      <td id="contact-links" align="right">
        <a href="mailto:${sitemail}" title="Mail me"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/ahillcomposer" title="Facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.youtube.com/user/AstroEngiSci" title="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://www.tiktok.com/@ahillcomposer" title="TikTok"><i class="fab fa-tiktok"></i></a>
      </td>
    </tr>
    </table>
  </nav>
  <main id="mainwrap">
<p>I'm Andrew Hill, a composer currently studying at Oklahoma Baptist University.
I love to tell stories with my music, whether I'm writing for narrative media like theatre, film, or video games,
or writing music for music's sake.</p>
<p>Welcome to my website!</p>
<h1>Featured Works</h1>
<p><center>
<table>
<tr>
  <td>
    <iframe class="image fit" src="https://www.youtube.com/embed/CDst5Mw0Tdw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </td>
  <td>
    <iframe class="image fit" src="https://www.youtube.com/embed/Nu0Ac7mtOOc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </td>
</tr>
<tr>
  <td>
    <iframe class="image fit" src="https://www.youtube.com/embed/2Qh0R5XheyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </td>
  <td>
    <iframe class = "image fit" src="https://www.youtube.com/embed/rkuuDhSVE6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </td>
</tr>
</table>
</center>
</p>
<h1>Contact</h1>
<p>I'm always excited to work on new projects!
You can contact me in one of the following ways:
<ul>
<li><a href="https://facebook.com/ahillcomposer">Direct message on Facebook</a></li>
<li><a href="https://twitter.com/ahillcomposer">Direct message on Twitter</a></li>
<li>Email me at andrew@andrewkhill.com</li>
</ul>
</p>
<p>I look forward to hearing from you!</p>
<h1>About Me</h1>
<p>I'm a senior composition major at Oklahoma Baptist University.
While I do write pure music for its own sake, my primary interest is scoring narrative works
such as film, video games, tabletop RPG campaigns, and theatre productions.
Past and current projects include:
<ul>
<li>Personal DnD campaign, titled <em>Thanes of the Nameless Spark</em> (Ongoing)</li>
<li><a href="https://www.theatricks.org/">Theatricks</a> production of <em>House at Pooh Corner</em> (Summer 2019)</li>
<li><em>Worlds</em>, a series of solo piano pieces exploring music's ability to excite
the visual and narrative imagination.</li>
</ul>
</p>
<p>My stylistic influences include:
<ul>
<li>Film composers such as John Powell, John Williams, and Danny Elfman</li>
<li>Folk music in the Celtic and American traditions</li>
<li>Modern jazz artists such as Adam Neely and Snarky Puppy</li>
<li>Video game composers such as Koji Kondo, Toby Fox, and Christopher Larkin</li>
</ul>
</p>
<p>As a performer, I sing tenor in the Bison Glee Club,
was the bassist for the Bison Jazz Orchestra,
and am the bassist for Symphonic Winds.
I have also performed several roles with Theatricks community theatre in Sherman, TX,
including Chef Louis in <em>The Little Mermaid</em>, and Tom Thumb in <em>Peter Rabbit</em>.
I also played bass for <em>A Year With Frog and Toad</em> with Theatricks.</p>
