<!DOCTYPE html>
<html dir="ltr" lang="${lang}">
<head>
  <meta name="keywords" content="${keywords}" />
  <meta name="description" content="${description}" />
  <meta name="author" content="${author}" />
  <title>Home - ${sitetitle}</title>
  <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e830867d9d.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav id="menuwrap">
    <table id="menu" width="100%" border="0">
    <tr>
      <td id="logo" align="left" width="250px"><img src="assets/logo.svg" height="70px" width="246px"/></td>
      <td id="nav-links" align="left">
        <a href="index.html" class="focus">Home</a> 
        <a href="music.html">Catalog</a> 
        <a href="blog.html">Blog</a>
      </td>
      <td id="contact-links" align="right">
        <a href="mailto:${sitemail}" title="Mail me"><i class="fas fa-envelope"></i></a>
        <a href="https://www.facebook.com/ahillcomposer" title="Facebook"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.youtube.com/user/AstroEngiSci" title="YouTube"><i class="fab fa-youtube"></i></a>
        <a href="https://www.tiktok.com/@ahillcomposer" title="TikTok"><i class="fab fa-tiktok"></i></a>
      </td>
    </tr>
    </table>
  </nav>
  <main id="mainwrap">
